[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third/absl"]
	path = third/absl
	url = https://github.com/abseil/abseil-cpp.git
